In [42]:
import sys
sys.path.append("../src")
from kmeans import Kmeans, Cluster
import pandas as pd
import numpy as np

In [43]:
df=pd.read_csv("./test_data/pokedexg13.csv")
print(df.shape)
df.head(3)

(432, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [44]:
"""" CLUSTER TEST """
test_kmean = Kmeans(1, df[['HP','Attack','Defense']], 0, 0)
cluster = test_kmean.get_clusters()[0]

##### add/drop row tests #####
cluster.drop_row(0)
cluster.add_row(0)
print(cluster.get_data())
cluster.drop_row(0)
print(cluster.get_data())
print()

#### Centroid tests ####
test_kmean.lookup_index(0)
cluster.add_row(0)
print(cluster.get_centroid())

Error: unable to remove row because it was not found in the cluster
Row: 0
[0]
[]

0.0